// Button Styles

// Dev portal buttons
.dev-portal-link {
  background-color: theme('colors.primary.200');
  border-radius: 4px;
  transition-property: all;
  padding: 0.25rem 0.75rem !important;
  margin: 0 0.5rem;

  &:last-child {
    margin-right: 0;
  }

  svg {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0.2rem;
  }
}

.dev-portal-signup {
  --ifm-link-hover-color: #fff;
  --ifm-navbar-link-hover-color: #fff;
  color: #fff;

  svg {
    display: none;
  }

  &:hover {
    background-color: var(--ifm-color-primary-darker);
  }
}

.dev-portal-login {
  --ifm-navbar-link-hover-color: theme('colors.primary.100');
  background-color: transparent;
}