// Card Components

.homepage-card {
  align-items: flex-start;
  gap: 10px;
  padding: 0.75rem;
  text-decoration: none;
  color: var(--docs-color-text);
  background-color: var(--docs-card-background) !important;
  --ifm-link-hover-decoration: none;
  --ifm-link-hover-color: inherit;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-color: rgb(var(--docs-color-secondary-800) / 1);
  background-color: rgb(var(--docs-color-secondary-900) / 1);

  &:hover {
    background-color: rgb(var(--docs-color-secondary-800) / 1);
  }
  border-width: 1px;
  transition-property: background-color, color;
  border-radius: 8px;
  position: relative;
  overflow: hidden;

  &.row {
    flex-direction: row;
  }

  .icon {
    width: 48px;
    height: 48px;
    margin-left: 0.25rem;
    margin-right: 0.25rem;

    svg {
      width: auto;
      height: 100%;
    }
  }

  .tag {
    font-size: 12px;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    font-weight: 500;
    position: absolute;
  }
}

.github-sample-card {
  align-items: flex-start;
  gap: 10px;
  padding: 0.75rem;
  text-decoration: none;
  color: white;
  --ifm-link-hover-decoration: none;
  --ifm-link-hover-color: white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-color: rgb(var(--docs-color-secondary-800) / 1);
  background-color: #8b5cf6;

  &:hover {
    background-color: #a78bfa;
  }
  border-width: 1px;
  transition-property: background-color, color;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .title {
    font-size: 16px;
    letter-spacing: -0.5px;
    font-weight: 600;
  }

  .description {
    font-size: 14px;
    color: var(--docs-color-text-100);
    line-height: 1.5;
  }
}