// Hello Bar / Announcement Bar Styles

.hello-bar {
  background-color: #1b2a4e;
  background-image: linear-gradient(#0003, #0003);
  padding-top: 12px;
  padding-bottom: 12px;

  &:hover {
    text-decoration: underline;
    text-decoration-color: #1b2a4e;
  }
}

.u-hflex-center-center {
  justify-content: center;
  align-items: center;
  display: flex;
}

.u-gap-10 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  display: flex;
}

.u-gap-8 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.u-hflex-left-center {
  flex-flow: wrap;
  align-items: center;
  display: flex;
}

.ph_cat {
  width: 28px;
  height: auto;
}

.ph_banner_txt {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}

.banner_separator {
  background-color: #fff;
  width: 1px;
  height: 20px;
}

.hello_bar_cta {
  background-color: #fff;
  border-radius: 6px;
  padding: 6px 12px 6px 14px;
}

.text-block-98 {
  color: #1a1c21;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}

.image-213 {
  width: 16px;
  height: 16px;
}

// Announcement Bar
#__docusaurus > div.announcementBar_node_modules-\@docusaurus-theme-classic-lib-theme-AnnouncementBar-styles-module {
  font-size: 19px;
  min-height: 50px;
}