// Pagination Styles

.pagination-nav {
  // Disable link hover decoration
  --ifm-link-hover-decoration: none;

  &__sublabel {
    display: none;
  }

  &__label {
    font-weight: 400;
  }

  &__link {
    &--next {
      background-color: rgba(68, 110, 172, 0.1) !important;
      color: #0d6efd;
      border-color: #0d6efd;
      font-family: "Open Sans", sans-serif;

      .pagination-nav__label::after {
        content: ' ›';
        margin-left: 2px;
      }
    }

    &--prev {
      color: #0d6efd;
      border-color: #0d6efd;
      font-family: "Open Sans", sans-serif;

      .pagination-nav__label::before {
        content: ' ‹';
        margin-right: 4px;
      }
    }
  }
}