// Search Bar Styles

// DocSearch Button
.DocSearch-Button {
  @media (min-width: 997px) {
    border-radius: 0.375rem !important;
  }

  &-Key {
    background: rgb(var(--docs-color-secondary-800) / 1) !important;
    top: 0 !important;
    padding: 0 !important;
    border: 1px solid rgba(var(--docs-color-text-400) / 0.3) !important;
    box-shadow: none !important;
    display: flex;
    align-items: center;
  }

  &-Placeholder {
    font-size: 0.75rem !important;
  }
}

// DocSearch Modal
.DocSearch-Modal {
  // after introducing ai chat bot
  margin-top: 80px !important;
}

// Disable Safari mobile search icons
input[type='search'] {
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}