html[data-theme='light'] {
  // Customer Portal style tabs
  --ifm-tabs-color: var(--color-gray-700);
  --ifm-tabs-color-active: #fff;
  --tabs-border-c: var(--color-gray-300);
}

html[data-theme='dark'] {
  // Customer Portal dark mode tabs
  --ifm-tabs-color: var(--color-gray-300);
  --ifm-tabs-color-active: #fff;
  --tabs-border-c: var(--color-gray-600);
}

:root {
  --ifm-tabs-padding-horizontal: 0.5rem;
  --ifm-tabs-padding-vertical: 0.625rem;

  --ifm-tabs-spacing: 0.5rem;
}

.tabs {
  .tabs__item {
    font-weight: 400;
    font-size: 0.95rem;
    line-height: 100%;
    letter-spacing: 0;

    border-radius: 1000px;
    border: 1px solid rgba(0, 0, 0, 0);

    padding-block-start: calc(var(--ifm-tabs-padding-vertical) - 1px);

    transition: border-color 0.2s ease-out, opacity 0.2s ease-out;

    &--active {
      font-weight: 500;
      background-color: var(--ifm-color-primary);
      color: var(--ifm-color-white);
    }

    + .tabs__item {
      margin-inline-start: var(--ifm-tabs-spacing);
    }

    &:hover {
       color: var(--ifm-color-white);

      &:not(.tabs__item--active) {
        opacity: 0.8;
        color: var(--ifm-color-primary);
      }
    }
  }
}

.tabs-container > div {
  margin-block-start: 0.75rem !important;
}
