// Typography Styles

// Body styles
body {
  font-family: "Open Sans", sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Paragraph styles
p {
  font-size: 1rem !important;
}

// Heading styles
h1,
h2,
h3,
h4,
h5 {
  font-family: "Outfit", sans-serif;
}

h1 {
  font-size: 2.8125rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -.02em;
}

h2 {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -.01em;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -.01em;
}

// Link styles
a {
  font-family: "Open-Sans", sans-serif;
  cursor: pointer;
}

// Image captions - markdown usage: ![Image ALT](./path/to/image) _my image caption_
img + em {
  text-align: center;
  display: block;
  margin-top: 1rem;
}

// Terminal images - markdown usage: ![Image ALT](./path/to/image#terminal)
img[src$='#terminal'] {
  display: block;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

// Cover images
img.cover-image {
  display: block;
  width: 100%;
  max-width: 840px;
  border-radius: 16px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

// Center images
img.center {
  width: auto !important;
  max-width: 100%;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-bottom: 1rem !important;
}

// Specific image size constraints
@media only screen and (min-width: 768px) {
  img[alt='PresetEditor'] {
    max-width: 600px;
  }

  img[alt='APIKeys'] {
    max-width: 600px;
  }
}